<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AgroAssist</title>
    <link rel="stylesheet" href="/static/css/landing_page_style..css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap"
      rel="stylesheet"
    />

    
  </head>
  <body>
    <div class="whole">
      <div class="nav-container">
        <div class="name">
          <div class="logo">
            <img src="/static/images/Digital Farming.png" alt="LOGO" />
          </div>
        </div>
        <ul class="nav-links">
          <li><a href="" class="links"></a></li>
          <li><a href="" class="links"></a></li>
          <li><a href="" class="links"></a></li>
          <li id="sign_in-id"><a href="/login" class="links">Sign In</a></li>
        </ul>
      </div>
      <div class="create-account-btn-div">
        <div class="create-account-btn-div1"></div>
        <div class="create-account-btn-div2">
          <div class="blur-part-div">
            <h1 class="main-line">A NEW WAY TO FARM</h1>
            <p class="main-line-text">AgroAssist helps to increase the efficiency of Farming upto next level.</p>
          </div> 
          <a class="create-btn" href="/register">Create Account > </a>
        </div>
      </div>
    </div>
  </body>
</html>
