{% extends "index.html" %}

{% block content %}
    <div class="container">
      <div class="heading">
        <p>Digital Register</p>
      </div>

      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %} 
      {% for category, message in messages %}
        <div class="alert alert-{{ category }}">{{ message }}
          <button class="alert-{{category}}-cancel-btn" onclick="this.parentElement.remove()">×</button>
        </div>
        {% endfor %} {% endif %} {% endwith %}

      <form class="add-new" method="post" action="/add_desc">
        <div class="add-desc">
          <input type="text" placeholder="Add new record..." id="add-desc-id" name="input-desc" />
        </div>
        <div class="add-desc-btn">
          <button class="add-btn" id="add-btn-id">Add</button>
        </div>
        
      </form>
      
      <div class="table-div">
        <ul class="list-table" id="table-content-id">
          <div class="desc table-header">
            <div class="first">Record No.</div>
            <div class="second">Decription</div>
            <div class="third">Time</div>
            <div class="fourth">Action</div>
          </div>
          {% for items in  records %}
          <form class="desc" method="post" action="/alter_record">
            <!-- for sending the record number to the flask  -->
            <input type="hidden" value="{{items.record_no}}" name="record_no">
            <div class="first" >{{items.record_no}}</div>
            <div class="second">{{items.description}}</div>
            <div class="third">{{items.timestamp.strftime('%Y-%m-%d %H:%M')}}</div>
            <div class="fourth">
              <button type="button"   class="update-btn" id="update-id" onclick="openUpdateDialog('{{ items.record_no }}', '{{ items.description }}')">Update</button>
              
              <button type="submit" name="alter_record" value="delete" class="delete-btn" >Delete</button>
            </form>
            
          </div>
          <li></li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <!-- The Dialog Box -->
     
    <dialog id="updateDialog">
      <form action="/alter_record" method="post"  class="dialog-box " >
        <div
          class="head"
          style="
            grid-column: 2/3;
            grid-row: 1/2;
            display: flex;
            align-items: center;
            justify-content: center;
          "
        >
          <h1>Update Description</h1>
        </div>

        <div
          class="input"
          style="grid-column: 2/3; grid-row: 2/3; display: flex; align-items: center;justify-content: center;"
        >
          <input type="hidden" name="record_no" id="modal_record_no" />
          <input
            type="text"
            name="new_desc"
            id="modal_new_text"
            placeholder="Enter new text..."
            required
            style="width: 100%; height: 50%; border-radius: 10px; padding: 2px"
          />
        </div>
        <div
          style="
            margin-top: 15px;
            display: grid;
            grid-template-columns: 48% 4% 48%;
            grid-column: 2/3;
            grid-row: 3/4;
          "
        >
          <button
            type="submit"
            class="dialog-update-btn"
            name="alter_record"
            value="update"
            onclick=""
          >
            Update
          </button>
          <button type="button" onclick="closeDialog()" class="dialog-cancel-btn">
            Cancel
          </button>
          
        </div>
        </form>
      </dialog>

    {% endblock content %}
  